#content > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem;
}

#content img {
  width: 85px;
  border-radius: 1rem;
  max-width: 7rem;
  cursor: pointer;
}


#content > div > div {
  position: relative;
}
  
#content span {
  width: 120px;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
  padding: .5rem 0;
  border-radius: .5rem;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 50%;
  transform: translate(-60px, 10px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

#content > div > div:hover span {
  opacity: 1;
  transform: translate(-60px, 0px);
}

#content span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0,0,0,0.75) transparent transparent transparent;
}

ol {
  padding: 0 3rem;
}

ul {
  list-style: none;
}

/*-------------------------MEDIA QUERY-------------------------*/
@media (min-width: 504px) {
  ol {
    padding: 0 10rem;
  }
#content > div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}  
}








  
  
